{% extends 'base.html' %}
{% block title %}Historical Prices{% endblock %}

{% block content %}
<h1 class="mt-5 pt-5">Financial Statements</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div id="nav-quote" class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/quote/{{stock}}/summary">Summary</a>
                    <a class="nav-item nav-link" href="/quote/{{stock}}/profile">Profile</a>
                    <a class="nav-item nav-link" href="/quote/{{stock}}/financials/inc">Financial Statements</a>
                    <a class="nav-item nav-link" href="/quote/{{stock}}/history">Historical Data</a>
                  </div>
                </div>
              </nav>
        </div>
        <div class="col"></div>
    </div>
    </div>

{% endblock %}