{% extends 'base.html' %}
{% block title %}{{stock['symbol']}} Info{% endblock %}

{% block content %}

<div class="container-fluid mt-5 pt-5">
    <div class="row">
        <div id="quote-header" class="col">  
            <div> 
                <h1>{{stock['symbol']}}</h1>
                <h2>{{stock['name']}}</h2>
            </div>    
            <div>
                {{stock['exchange']}}
            </div>
                    <div id="price-info" class="list-inline">
                        <span class="ticker-price list-inline-item" data-ticker="" data-field="regular-market-price" value="">
                        <h2>${{stock["price"]}}</h2>
                        </span>
                        <span class="currency list-inline-item">${{stock['change']}}</span>
                        <span class="percentage list-inline-item" data-field="regular-market-change" value="">
                        {{stock["changesPercentage"]}}% Change
                        </span>
                    </div>
            </div>
        </div>
    </div>
    <div id="addwatchlist" class="col"><form action=""><div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Watchlist
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            {% if user %}
            {% for portfolio in user.portfolios %}
          <form action="/portfolios/{{portfolio.id}}/addstock" method="POST"><button class="dropdown-item" type="button">
            {% if portfolio.portfolio_name %}
            {{portfolio.portfolio_name}}
            {% else %}
            {{portfolio.id}}
            {% endif %}
            </button></form>
            {% endfor %}
            {% endif %}
            <button class="dropdown-item" type="button">-</button>
        </div>
      </div></form></div>
</div>

{% block quotebar %}
<div class="container-fluid">
<div class="row justify-content-center">
    <div id="nav-quote">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/quote/{{stock['symbol']}}/summary">Summary</a>
                <a class="nav-item nav-link" href="/quote/{{stock['symbol']}}/profile">Profile</a>
                <a class="nav-item nav-link" href="/quote/{{stock['symbol']}}/financials/inc">Financial Statements</a>
                <a class="nav-item nav-link" href="/quote/{{stock['symbol']}}/history">Historical Data</a>
              </div>
            </div>
          </nav>
    </div>
</div>
</div>
{% endblock quotebar %}

<div class="container">
    <div class="row">
        <div class="col">
            CHART
        </div>
    </div>
</div>
<br>

    <div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>Market Capitalization</td>
                        <td>{{stock['marketCap']}}</td>
                    </tr>
                    <tr>
                        <td>Average Volume</td>
                        <td>{{stock['avgVolume']}}</td>
                    </tr>
                    <tr>
                        <td>Year Low</td>
                        <td>{{stock['yearHigh']}}</td>
                    </tr>
                    <tr>
                        <td>Year High</td>
                        <td>{{stock['yearLow']}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>Open</td>
                        <td>{{stock['open']}}</td>
                    </tr>
                    <tr>
                        <td>Previous Day Close</td>
                        <td>{{stock['previousClose']}}</td>
                    </tr>
                    <tr>
                        <td>PE Ratio</td>
                        <td>{{stock['pe']}}</td>
                    </tr>
                    <tr>
                        <td>Earnings Per Share</td>
                        <td>{{stock['eps']}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}