{% extends 'base.html' %}
{% block title %}Finance Page{% endblock %}

{% block content %}

<div id="current-market-wrapper" class="container m-5" >
    <div class="row">
    <ul class="list-group list-group-horizontal text-center">
        <li class="list-group m-3 col">
            <h3>
                <a class="text-center" href="" title="S&P 500 ETF">S&P 500 ETF</a>
                <br>
                <div class="ticker-price" data-ticker="" data-field="regular-market-price" value="">
                    ${{spy["price"]}}
                </div>
                <div class="price-change">
                    <p class="currency" data-field="regular-market-change" value="">

                    </p>
                    <p class="percent">

                    </p>

                </div>
            </h3>
        </li>
        <li class="list-group m-3 col">
            <h3>
                <a class="text-center" href="" title="DJIAI Index">DIA</a>
                <br>
                <div class="ticker-price" data-ticker="" data-field="regular-market-price" value="">
                    ${{dia['price']}}
                </div>
                <div class="price-change">
                    <p class="currency" data-field="regular-market-change" value="">

                    </p>
                    <p class="percent">

                    </p>
                </div>
            </h3>
        </li>
        <li class="list-group m-3 col">
            <h3>
                <a class="text-center" href="" title="NASDAQ Index">QQQ Shares NASDQ ETF</a>
                <br>
                <div class="ticker-price" data-ticker="" data-field="regular-market-price" value="">
                    ${{qqq['price']}}
                </div>
                <div class="price-change">
                    <p class="currency" data-field="regular-market-change" value="">

                    </p>
                    <p class="percent">

                    </p>
                </div>
            </h3>
        </li>
    </ul>
    </div>
</div>
{% endblock %}