{% extends 'base.html' %}
{% block title %}Finance Page{% endblock %}

{% block content %}
<h1>Finance Homepage</h1>
<div id="current-market-wrapper">
    <ul>
        <li>
            <h3>
                <a href="" title="S&P 500 Index">S&P 500</a>
                <br>
                <div class="ticker-price" data-ticker="" data-field="regular-market-price" value="">

                </div>
                <div class="price-change">
                    <p class="currency" data-field="regular-market-change" value="">

                    </p>
                    <p class="percent">

                    </p>

                </div>
            </h3>
        </li>
        <li>
            <h3>
                <a href="" title="DJIAI Index">D&J</a>
                <br>
                <div class="ticker-price" data-ticker="" data-field="regular-market-price" value="">

                </div>
                <div class="price-change">
                    <p class="currency" data-field="regular-market-change" value="">

                    </p>
                    <p class="percent">

                    </p>

                </div>
            </h3>
        </li>
    </ul>

</div>
{% endblock %}