{% extends 'base.html' %}
{% block title %}Finance Page{% endblock %}

{% block content %}
<h1>{{user.username}}'s Portfolio Page</h1>
<div id="add-portfolio">
    <form action="/portfolios/add" method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != "hidden" %}
        <p>{{field.label}}
            {{field}}
            {% for err in field.errors %}
            {{err}}
            {% endfor %}
        </p>
        {% endfor %}
        <button>Add Portfolio</button>
</div>

<section id="pf-nav">
    <ul id="pf-list" class="list-group list-group-horizontal">
        {% for p in user.portfolios %}
        <li class="list-group-item"><a href="/portfolios/{{p.id}}" class="btn btn-info">{{p.id}}{{p.portfolio_name}}</a><form action="/portfolios/{{p.id}}/delete" method="POST"><button>Delete</button></form></li>
        {% endfor %}
    </ul>
    </section>
{% endblock %}