{% extends 'base.html' %}
{% block title %}Transaction Info{% endblock %}

{% block content %}
<h1>Transaction Info</h1>
<div class="container">
<table class="table table-bordered">
    <thead>
        <th>Date</th>
        <th>Stock</th>
        <th>Shares</th>
        <th>Price per Share</th>
        <th>Transaction Value</th>
    </thead>
    <tbody>
        <td>{{transaction.date}}</td>
        <td>{{transaction.ticker}}</td>
        <td>{{transaction.shares}}</td>
        <td>{{transaction.price}}</td>
        <td>{{value}}</td>
    </tbody>
</table>
</div>
<div class="btn-group" role ="group">
<form action="/portfolios/{{portfolio.id}}/transactions/{{transaction.id}}/delete" method="POST">
<button>Delete Transaction</button>
</form>

<form action="/portfolios/{{portfolio.id}}/transactions/{{transaction.id}}/edit" method="POST"><button>Edit Transaction</button>
</form>

<form action="/portfolios/{{portfolio.id}}">
<button>Back</button>
</form>
</div>

<!-- <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Left</button>
    <button type="button" class="btn btn-secondary">Middle</button>
    <button type="button" class="btn btn-secondary">Right</button>
  </div> -->
{% endblock %}